body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #007BFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

body:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.message {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: none; /* Initially hidden */
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #FCE8DB;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  color: red; /* Make sure the text color stands out */
}

.form {
  background-color: #fff;
  padding: 2rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
  transition: transform 0.3s ease;
}

.form:hover {
  transform: scale(1.05);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  padding: 0.75rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #3730a3;
}

.signup-link {
  color: #7f7fa9;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
}

.signup-link a {
  text-decoration: underline;
  color: #a2acb7;
  transition: color 0.3s ease;
}

.signup-link a:hover {
  color: #9aa7b6;
}
